.terminal-window {
    background-color: #0c0c0c;
    max-width: 50%;
    color: #33ff33;
    border-radius: 4px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-family: 'Courier New', Courier, monospace;
  }
  
  .form-control {
    background-color: #181818;
    color: #33ff33;
    border: 1px solid #333;
  }
  
  .list-group-item {
    background-color: #181818;
    color: #33ff33;
    border: 1px solid #cbcbcb;
  }
